<div class="h-100">
  <ng2-pdfjs-viewer #bigPdfViewer pdfSrc="/assets/pdfjs/web/compressed.tracemonkey-pldi-09.pdf" downloadFileName="mySample" zoom="auto"
                    viewerId="MyID" (onDocumentLoad)="testPagesLoaded($event)" (onPageChange)="testPageChange($event)" [annotations]="true"
                    (onScaleChange)="testScaleChange($event)" (onRotationChange)="testRotationChange($event)"
                    (onBeforePrint)="testBeforePrint()" (onAfterPrint)="testAfterPrint()"
                    (diagnosticLogs)="true" [fullScreen]="true"
                    >
  </ng2-pdfjs-viewer>
</div>
