.container {
  padding: 5px !important;
  height: calc(100% - 80px) !important; // Remove toolbar height
}

.spacer {
  flex: 1 1 auto;
}

button {
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
}
