<mat-toolbar color="primary">
  <button mat-button routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="mat-accent">
    ng2-pdfjs-viewer
  </button>
  <div class="spacer"></div>
  <button mat-raised-button routerLink="/" color="primary" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="mat-accent">
    Big viewer
  </button>
  <button mat-raised-button routerLink="inline" color="primary" routerLinkActive="mat-accent">Inline PDF</button>
  <button mat-raised-button (click)="openPdf()" color="primary" routerLinkActive="mat-accent">Open in new tab</button>
  <button mat-raised-button routerLink="dynamic" color="primary" routerLinkActive="mat-accent">Dynamic PDF</button>
</mat-toolbar>

<ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true" openFile="false" [useOnlyCssZoom]=true target="_myWindow"></ng2-pdfjs-viewer>
<div class="container mat-typography">
  <router-outlet></router-outlet>
</div>

