<div class="container-fluid">
    <app-nav-menu></app-nav-menu>
    <div class="col-12 col-lg-9 body-content">
        <h1>ng2-pdfjs-viewer</h1>
        <blockquote>
            <strong>To install and configure, check the npm package here:<a href="https://www.npmjs.com/package/ng2-pdfjs-viewer" target="_blank"> ng2-pdfjs-viewer</a></strong>
            <br />
            <br> Access source on github. Here:<a href="https://github.com/intbot/ng2-pdfjs-viewer" target="_blank"> ng2-pdfjs-viewer</a>
            <br> Access source of this entire demo here:<a href="https://github.com/intbot/ng2-pdfjs-viewer/Demo" target="_blank"> ng2-pdfjs-viewer Demo</a>
            <br />
        </blockquote>
        <router-outlet></router-outlet>

        <blockquote>
            <strong>Note: All physical pdf files such as 'gre_research_validity_data.pdf' and 'pdf-sample.pdf' should be in application's 'assets' folder or public folder.</strong>
            <br />
            <br />
            <i>This demo is built using @MarkPieszak's aspnetcore-angular-universal repo(<strong><a href="https://github.com/TrilonIO/aspnetcore-angular-universal" target="_blank">aspnetcore-angular-universal</a></strong>). It is one of the best new project templates I found for aspnetcore+angular projects.</i>
        </blockquote>
    </div>
</div>


