<h2>Open in external window with print preview</h2>

<div class="row">
    <div class="col-lg">
        <h3>html</h3>
        <pre><code [highlight]="htmlcode"></code></pre>
        <h3>typescript</h3>
        <pre><code [highlight]="tscode"></code></pre>

        <button (click)="openPdf()" style="background-color: greenyellow; font-weight: bold; font-style: italic; height: 50px;">Open PDF in new tab and start print preview</button>
        <ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true" [startPrint]=true></ng2-pdfjs-viewer>
    </div>
</div>