<mat-grid-list cols="5" rowHeight="80vh">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="1">
    <ng2-pdfjs-viewer class="fill" viewerId="MyID2" #viewer pdfSrc="compressed.tracemonkey-pldi-09.pdf"
      [initialLocale]="'de-AT'" (onDocumentLoad)="pdfLoaded()" [initialZoom]="zoom"
      [initialCursor]="'HAND'" downloadFileName="research.pdf" [initialScroll]="'W'" [initialSpread]="'E'" [showPrint]="false"
    [errorOverride]="true" errorMessage="My error Message"></ng2-pdfjs-viewer>
  </mat-grid-tile>
  @if (isPdfLoaded) {
    <mat-grid-tile style="background-color: lightblue; flex: 1; flex-direction: column"
      [colspan]="2"
      [rowspan]="1">
      <table class="w-100">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-column="Attribute">Page</td>
            <td data-column="Value">{{viewer.page}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Source</td>
            <td data-column="Value">{{viewer.pdfSrc}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Print</td>
            <td data-column="Value">{{viewer.showPrint}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Download</td>
            <td data-column="Value">{{viewer.showDownload}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Find</td>
            <td data-column="Value">{{viewer.showFind}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Cursor</td>
            <td data-column="Value">{{viewer.initialCursor}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Locale</td>
            <td data-column="Value">{{viewer.initialLocale}}</td>
          </tr>
          <tr>
            <td data-column="Attribute">Zoom</td>
            <td data-column="Value">{{viewer.initialZoom}}</td>
          </tr>
        </tbody>
      </table>
      <p class="mat-caption">
        For more attributes visit <a href="https://github.com/vishnu-dev/ng2-pdfjs-viewer#options">GitHub | ng2-pdf-viewer</a>
      </p>
    </mat-grid-tile>
  }
</mat-grid-list>
