<h1>ng2-pdfjs-viewer</h1>
<h2>Basic</h2>
<blockquote>
    To install and configure, check the npm package here:<a href="https://www.npmjs.com/package/ng2-pdfjs-viewer" target="_blank"> ng2-pdfjs-viewer</a>
    <br />
    <br> To check source, please see here:<a href="https://github.com/intbot/ng2-pdfjs-viewer" target="_blank"> ng2-pdfjs-viewer source</a>
    <br />
</blockquote>
<div class="row">
    <div class="col-lg">
        <h2>html</h2>
        <pre><code [highlight]="htmlcode"></code></pre>
        <h2>typescript</h2>
        <pre><code [highlight]="tscode"></code></pre>
        <div style="height: 600px">
            <ng2-pdfjs-viewer pdfSrc="pdf-sample.pdf"></ng2-pdfjs-viewer>
        </div>
    </div>
</div>