<nav class="navbar navbar-expand-lg">
    <a [routerLink]="['/home']" class='navbar-brand'>ng2-pdfjs-viewer demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
            aria-label="Toggle navigation" (click)="collapseNavbar()">
        <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse {{collapse}}" id="mainNav">
        <ul class="nav flex-column">
            <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
                <a class="nav-link" [routerLink]="['/home']">
                    <i class="fas fa-home"></i> Simple Configuration
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
                <a class="nav-link" [routerLink]="['/externalwindow']">
                    <i class="fas fa-print"></i> External window with Print preview
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
                <a class="nav-link" [routerLink]="['/autodownload']">
                    <i class="fas fa-download"></i> Auto download
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
                <a class="nav-link" [routerLink]="['/language']">
                    <i class="fas fa-globe"></i> Languages and Localization
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
                <a class="nav-link" [routerLink]="['/bytearray']">
                    <i class="fas fa-server"></i> Blob and Byte array
                </a>
            </li>
        </ul>
    </div>
</nav>